@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
body {
  width: 1055px;
  padding-left: 15px;
  align-items: center;
}

.header {
  margin: 0 auto;
  background-color: rgb(13, 187, 187);
  display: flex;
  height: 1000px;
  border: 1px solid black;
}

.IT {
  border: 1px solid white;
  border-radius: 50%;
  background-color: dodgerblue;
  margin: 0 0 200px 0;
  display: flex;
  width: 100px;
  height: 70px;
  font-size: 20px;
  padding-top: 15px;
  justify-content: start;
  text-align: center;
  font-weight: 600;
}

.a {
  color: white;
  text-decoration: none;
}
.a:hover {
  text-decoration: underline;
}

.nnn {
  width: 600px;
  height: 800px;
  margin: -633px 0 0 320px;
  display: inline-block;
}

.sea {
  height: 50px;
}

.search {
  margin: -450px 0 0 1085px;
  display: flex;
}

.seat {
  font-size: 25px;
  font-weight: 600;
  color: rgb(144, 21, 21);
}

.Lang {
  margin: 2px 3px 200px 1235px;
  font-size: 30px;
  font-weight: 500;
  background-color: red;
  border: 3px solid black;
  border-radius: 5px;
  color: aliceblue;
  text-align: center;
  position: relative;
  width: 220px;
}

.langtip {
  display: none;
  position: absolute;
  width: 100px;
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 0 50px 130px;
}

.Lang:hover .langtip {
  display: block;
}

.Va {
  border: 2px solid black;
  background-color: dodgerblue;
  width: 350px;
  height: 75px;
  font-size: 40px;
  padding: 15px 0 0 2px;
  font-weight: 500;
  margin: 0 0 -50px 10px;
  text-align: center;
  border-radius: 10px;
}

.Mu {
  margin-left: 400px;
  border: 2px solid black;
  background-color: dodgerblue;
  width: 350px;
  height: 75px;
  font-size: 40px;
  padding: 15px 0 0 2px;
  font-weight: 500;
  margin: 0 0 -50px 10px;
  text-align: center;
  border-radius: 10px;
}

.An {
  margin-left: 700px;
  border: 2px solid black;
  background-color: dodgerblue;
  width: 350px;
  height: 75px;
  font-size: 40px;
  padding: 15px 0 0 2px;
  font-weight: 500;
  margin: 0 0 -50px 10px;
  text-align: center;
  border-radius: 10px;
}

.Ib {
  margin-left: 1100px;
  border: 2px solid black;
  background-color: dodgerblue;
  width: 350px;
  height: 75px;
  font-size: 40px;
  padding: 15px 0 0 2px;
  font-weight: 500;
  margin: 0 0 -50px 10px;
  text-align: center;
  border-radius: 10px;
}

.adlar {
  display: flex;
  justify-content: space-between;
  width: 1450px;
  margin-top: -160px;
  color: white;
  
}

main {
  position: relative;
}

aside {

  position: absolute;
  left: 1090px;
  top: 50px;
  margin: 5px 0 0 5px;
  padding: 5px;
}

.ante {
  width: 360px;
  height: 160px;
}

.mvp {
  margin: -30px 0 0 3px;
  font-weight: 500;
}

.antel {
  color: black;
  text-decoration: none;
}

.hnba:hover {
  text-decoration: underline;
}

.Murads {
  width: 530px;
  height: 670px;

  margin: 55px 0 0 15px;
  display: flex;
}

.balll {
  width: 50px;
  height: 50px;
  margin: -120px 0 25px 120px;
}

.lebron {
  width: 300px;
  height: 500px;
  margin-left: -30px;
  margin-top: -30px;
}

.ball {
  width: 50px;
  height: 50px;
}

h1 {
  color: rgb(109, 66, 11);
}

p {
  width: 300px;
}

.basketball {
  margin: 40px 0 0 -210px;
  font-weight: 500;
}

.asagi {
  margin: 50px 0 0 -220px;
  width: 510px;
}

.Vafas {
  width: 490px;
  height: 670px;

  justify-content: flex-start;
}

.bag {
  width: 250px;
  margin: -615px 0 700px -10px;
  padding-left: 10px;
  height: 340px;
}

footer {
  width: 1460px;
  background-color: gainsboro;
  color: gray;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.footer {
  max-width: 992px;
  min-width: 768px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.contact {
  display: block;
}

.sosial {
  width: 20px;
}

.ul {
  list-style-type: none;
}

.Vafas {
  margin: 55px 0 0 15px;
  font-size: 15px;
}

.bagiki {
  margin: 0 -300px 0 0;
  width: 500px;
}

.baguc {
  margin: 0 -300px 0 0;
  width: 500px;
}

.foto {
  width: 500px;
  height: 200px;
  align-items: center;
  margin-top: -50px;
}
.id {
  width: 400px;
  height: 400px;
  font-weight: 400px;
  font-size: 20px;
}
.Anars {
  width: 480px;
  height: 660px;
  margin: 15px 20px 0px 15px;
}

.bagbir {
  margin: 0 0 0 250px;
  width: 250px;
  padding-left: 5px;
}

.sections {
  display: flex;
  flex-wrap: wrap;
}

.Ibads {
  width: 380px;
  height: 660px;

  margin: 15px 0 0 -5px;
}

.dejong {
  width: 300px;
  height: 650px;
  display: flex;
  margin: 0 0 0 0;
  font-weight: 500;
  padding-bottom: 50px;
}

.futboll {
  margin: 20px -300px 300px 310px;
  width: 200px;
  font-size: 18px;
}

.futtbol {
  margin: -700px -600px 0 300px;
  font-size: 26px;
}

.jony {
  width: 360px;
  height: 150px;
}

.jonyp {
  margin-top: -15px;
}

.ronaldo {
  width: 360px;
  height: 140px;
}

aside {
  height: 1330px;
  display: flex;
  flex-direction: column;
}

.Vafaa,
.Murada,
.Anara,
.Ibada {
  height: 320px;
}

.xeber {
  margin: 0 0 0 0;
  text-align: center;
}

.baliq {
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.first {
  margin-top: -20px;
}

.ribka {
  width: 245px;
  height: 80px;
  font-size: 18px;
  margin-top: 10px;
}

.ribkadva {
  width: 245px;
  margin-left: 250px;
  margin-top: 80px;
  font-size: 18px;
}

.two {
  width: 360px;
  height: 160px;
}

.manu {
  margin-top: -20px;
}

.roni {
  margin-top: -5px;
}

.baliqq {
  margin-top: -10px;
}

@media (max-width: 900px) {
  body, footer, .adlar {
    width: 90%;
  }
}

.anarbaliq{margin-top: -5px}

.Vafabas{font-size: 20px;}

.roni:hover {
  text-decoration: underline;
}
.anarbaliq:hover {
  text-decoration: underline;
}